---
layout: default
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Jacob Jedryszek",
  "url": "https://jj09.net",
  "jobTitle": "Software Engineer",
  "worksFor": { "@type": "Organization", "name": "Meta" },
  "sameAs": [
    "https://linkedin.com/in/realjacobjed",
    "https://x.com/realJacobJed",
    "https://github.com/jj09",
    "https://www.youtube.com/@jj09"
  ]
}
</script>

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <h2 style="margin: 0px;"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <i class="date-inline">{{ post.date | date: "%B %e, %Y" }}</i> -
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">
        {% include read-time.html content=post.content %}
      </a>
    </article>
  {% endfor %}

  {% include pagination.html %}
</div>
