---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <h2 style="margin: 0px;"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <i style="color: #ccc; font-size: 0.8em">{{ post.date | date: "%B %e, %Y" }}</i> -
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">
        {% include read-time.html content=post.content %}
      </a>
    </article>
  {% endfor %}

  {% include pagination.html %}
</div>
