<meta charset="utf-8" />
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>

<!-- Google tag (gtag.js) - GA4, deferred until idle to reduce TBT -->
<script>
  (window.requestIdleCallback || setTimeout)(function() {
    var s = document.createElement('script');
    s.src = 'https://www.googletagmanager.com/gtag/js?id=G-7MV8X5P363';
    s.async = true;
    document.head.appendChild(s);
    s.onload = function() {
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-7MV8X5P363');
    };
  });
</script>

{% if page.description %}
  <meta name="description" content="{{ page.description | strip_html | strip_newlines | truncatewords: 25 }}">
{% elsif page.excerpt %}
  <meta name="description" content="{{ page.content | strip_html | strip_newlines | truncatewords: 25 }}">
{% else %}
  <meta name="description" content="{{ site.site_description | truncatewords: 25 }}">
{% endif %}

<meta name="author" content="{{ site.name }}" />
