<meta charset="utf-8" />
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>

<!-- Google Analytics -->
<script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-41663341-1', 'auto');
    ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7MV8X5P363"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7MV8X5P363');
</script>

{% if page.description %}
  <meta name="description" content="{{ page.description | strip_html | strip_newlines | truncate: 160 }}">
{% elsif page.excerpt %}
  <meta name="description" content="{{ page.content | strip_html | strip_newlines | truncate: 160 }}">
{% else %}
  <meta name="description" content="{{ site.description }}">
{% endif %}

<meta name="author" content="{{ site.name }}" />